body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

aside {
    background-color: #555;
    color: white;
    width: auto;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font: 2em sans-serif;
}
aside ul li{
    list-style: none;
    padding-top: 25px;
} 
aside ul li a{
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px white dotted;
}
aside ul li a:hover{
    background-color: blueviolet;
    color: red;
}

aside ul li :last-child{
    border-bottom: none;
}
.sub-menu{
    display: none;
}
aside ul li:hover .sub-menu{
    display: inline-block;
    position: absolute;
    background: rgb(0,0100,0);
    margin-top: 15px;
    margin: left -15px; ;
}
aside  ul li:hover .sub-menu ul{
display: block;
margin: 10px;
}
aside ul li:hover .sub-menu ul li{
    width: 150px;
    padding: 10px;
    display: block;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
aside ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}
main {
    margin-left: 270px;
    padding: 20px;
}

.menu-content {
    display: none;
}

.active-menu {
    display: block;
}

.menu-icon {
    margin-right: 10px;
}
.sub-menu-content ul li{
    list-style: circle;
    padding: 20px;
   
}
.sub-menu-content ul li a{
    text-decoration: none;
}
.sub-menu-content ul li a:hover{
    background-color: blue;
    color: red ;
    text-shadow: brown 1px ;
}
aside .sub-menu .skills{
    display: none;
}
